@import url('https://fonts.googleapis.com/css?family=Caveat|Nunito&display=swap');


header{
    line-height: 0;
}

/*--------------------------------------Header*/
.img-fluid{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    margin: 0;
}

.logo{
    background-position: center;
    background-color: #384BC2
}

.title{
    font-family: "Caveat", sans-serif;
    color: #fff;
    font-weight: 500;
    background-color:#384BC2;
    min-height: 150px;
    margin: 0;
    padding: 0;
    font-size: 150px;
}



.list-inline-item{
    font-family: "Caveat", sans-serif;
    background-color: #384BC2;
    font-size: 60px;
    display: inline;
}

.list-inline-item span{
    color: #fff;
    text-align: center;
  
    padding-left: 7px;
    padding-right: 7px;
}

.list-inline-item i{
    color: #fff;
    
}

.list-inline-item:not(:last-child){
    margin: 0;
}


/*---------------------------------------Main Body*/
.main-text{
    font-family: "Nunito", sans-serif;
    color: #525252;
    background-color: #EBE0B5;
}

/*---------------------------------------Map Section*/

.location{
    color: #525252;
    background-color: #EBE0B5;
    text-align: center;
}
/*---------------------------------------Footer*/
.footer{
    font-family: "Caveat", sans-serif;
    background-color: #384BC2;
    color: #fff;
    font-size: 25px;
    
}

.footer i{
    color: #fff;
    padding: 10px;
    text-align: center;
}

.phone-number{
    float: right;
}

