@import url('https://fonts.googleapis.com/css?family=Caveat|Nunito&display=swap');

@media (max-width: 768px){

    .index-images {
        display: none;
    }
    .location{
        display: none;
    }
    .tours-images{
        display: none;
    }
    .contact-images{
        display: none;
    }   
    .photo-info{
        display: none;
    }
}

/*--------------------------------------General margins and padding*/
body{
    max-width: 3000px;
    margin: auto;
}
div{
    background-color: #87D9E8;
}

header{
    line-height: 0;
    border-bottom: solid 10px #3F6099;
    margin: 0;
}

.container{
    overflow: auto;
    margin: 0;
    min-width: 100%;
    padding: 0;
}

.row{
    margin: 0;
}

.col{
    padding: 0;
}

.img-fluid{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    margin: 0;
    width: 100%;
}

hr .rounded{
    border-top: solid 5px #3F6099;
}

/*--------------------------------------Header*/

.logo{
    background-position: center;
    width: 100%;
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}

.title{
    font-family: "Caveat", sans-serif;
    color: #fff;
    font-size: 50px;
    font-weight: 500;
    background-color:#87D9E8;
    text-align: center;
    margin: 0;
    padding: 0;
}

.list-inline-item{
    font-family: "Caveat", sans-serif;
    background-color: #87D9E8;
    text-align: center;
    font-size: 25px;
    margin: 0;
    width: 100%;
    float: left;
    padding-bottom: 10px;
}

.list-inline-item span{
    color: #fff;
    text-align: center;
}

.list-inline-item i{
    color: #fff;
}

.list-inline-item:not(:last-child){
    margin: 0;
}

.list-inline-item a{
    text-decoration: none;
}

#nav{
    margin: 0;
    padding: 0;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

@media (min-width: 768px){
    
    .list-inline-item a {
        font-size: 35px;
    }
    .title {
        font-size: 100px;
    }
}

@media (min-width: 1130px){
    
    .list-inline-item a {
        font-size: 45px;
    }
    .title {
        font-size: 150px;
    }
}

@media (min-width: 1800px){
    
    .list-inline-item a {
        font-size: 70px;
    }
    .title {
        font-size: 200px;
    }
    .main-body-text{
        font-size: 30px;
    }
    .location-title{
        font-size: 50px;
    }
    .location .location-text{
        font-size: 30px;
    }
    .opening-hours{
        font-size: 50px;
    }
    .social-links{
        font-size: 50px;
    }
    .phone-number{
        font-size: 50px;
    }
    .tours-main-title{
         font-size: 50px;
    }
    .tours-main-body .tours-main-text{
        font-size: 30px;
    }
    .tours-main-body-scuba .tours-main-text{
        font-size: 30px;
    }
    .photo-title{
        font-size: 50px;
    }
    .photo-info{
        font-size: 30px;
    }
}

@media (min-width: 2500px){
    
    .list-inline-item a {
        font-size: 100px;
    }
    .title {
        font-size: 300px;
    }
     .main-body-text{
        font-size: 40px;
    }
    .location-title{
        font-size: 75px;
    }
    .location .location-text{
    font-size: 40px;
    }
      .tours-main-title{
         font-size: 75px;
    }
    .tours-main-body .tours-main-text{
        font-size: 40px;
    }
    .tours-main-body-scuba .tours-main-text{
        font-size: 40px;
    }
    
}

/*---------------------------------------Home Main Body*/
.main-body{
    font-family: "Nunito", sans-serif;
    color: #3F6099;
    background-color: #87D9E8;;
    text-align: justify;
    font-size: 20px;
    width: 100%;
}

.main-body-text{
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

/*---------------------------------------Map Section*/

.location{
    color: #3F6099;
    text-align: center;
    background-color: #87D9E8;
}

.location-title{
    padding: 15px;
}

.location-text{
    font-size: 20px;
    padding: 15px;
}

.map{
    width: 100%;
}

/*---------------------------------------Footer*/
.footer{
    font-family: "Caveat", sans-serif;
    background-color: #87D9E8;
    color: #fff;
    font-size: 25px;
    margin: 0;
    border-top: solid 10px #3F6099;
}

.footer i{
    color: #fff;
    padding: 10px;
    letter-spacing: 40px;
}

.social-links{
        text-align: center;
}

.phone-number{
   text-align: center;
}

.opening-hours{
     text-align: center;
}

/*---------------------------------------Tours Page*/

.tours-main-body{
    color: #3F6099;
    background-color:  #87D9E8;
    border-bottom: solid 2.5px #3F6099; 
}

.tours-main-body-scuba{
    color: #3F6099;
    background-color:  #87D9E8;
}

.tours-main-body p{
    margin: 0;
}

.tours-main-title{
    text-align: center;
}

.tours-main-text{
    font-size: 20px;
    text-align: justify;
    padding: 5px;
}

.tours-main-text a{ 
    color: #3F6099;
} 

a:hover{
    color: #fff;
    text-decoration: none;
}

/*---------------------------------------Photos Page*/

.container-fluid photos-images{
   margin: 0;
    padding: 0;
}

.photos-images .img-fluid{
    padding: 0;
    border-right: solid 2.5px #87D9E8;
    border-left: solid 2.5px #87D9E8;

}

.photo-title{
    color: #3F6099;
    text-align: center;
    border-bottom: solid 5px #3F6099;
    padding-bottom: 5px;
}

.photo-info{
    color: #3F6099;
    text-align: center;
}
/*---------------------------------------Contact Page*/

.info{
    color: #3F6099;
    background-color:  #87D9E8;
    margin: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;   
    border-bottom: solid 5px #3F6099; 
}

form{
    color: #3F6099;
    background-color: #87D9E8;
    height: 100%;
    margin-bottom: 0;
    text-align: center;
    border: solid 5px #3F6099;
    border-top: none;
    border-bottom: none;
}

.form-text{
    text-align: center;
    padding: 5px;
    margin-bottom: 0;
    margin-top: 0;
}

.ask-away{
    color:  #87D9E8;
    background-color: #3F6099;
    font-size: 30px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 40px;
    border-radius: 10%;
    border:none;
    
}

.form{
    padding: 0;
}

.contact-images{
    padding: 0;
}

.text-box{
    color:  #3F6099;
    border: solid 1px #3F6099
}

#inquiry{
    max-height: 200px;
    
}
@media (min-width: 768px){
    
    .text-box {
        width: 75%;
    }
}
@media (max-width: 1100px){
    
    .text-box{
        width: 75%;
    }
}

@media (min-width: 2000px){
    
     .info{
        font-size: 50px;
    }
    .form-text{
        font-size: 50px;
        padding-top: 30px;
    }
    #name{
        height: 100px;
    }
    #email{
        height: 100px;
    }
    input[type="text"] {
    font-size: 50px;
    }
    input[type="email"] {
    font-size: 50px;
    }
    textarea[type="text"] {
    font-size: 50px;
    }
    .ask-away{
        font-size: 50px;
    }
    ::placeholder{
        font-size: 50px;
        text-align: left;
    }
}