@import url('https://fonts.googleapis.com/css?family=Caveat|Nunito&display=swap');


header{
    line-height: 0;
}

/*-----------------------Header----------------*/
.img-fluid{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0;
    margin: 0;
}

.logo{
    background-position: center;
    background-color: #384BC2
}

.title{
    font-family: "Caveat", sans-serif;
    color: #fff;
    font-weight: 500;
    background-color:#384BC2;
    min-height: 150px;
    margin: 0;
    padding: 0;
    font-size: 150px;
}

.list-inline{
    margin: 0;
}

#nav{
   margin: 0;
}

.list-inline-item{
    font-family: "Caveat", sans-serif;
    background-color: #384BC2;
    font-size: 60px;
    display: inline;
    position: center;
}

.list-inline-item span{
    color: #fff;
    text-align: center;
    padding-left: 7px;
    padding-right: 7px;
}

.list-inline-item i{
    color: #fff;
}

.list-inline-item:not(:last-child){
    margin: 0;
}


/*---------------------------------------Main Body*/
.main-text{
    font-family: "Nunito", sans-serif;
    color: #fff;
    background-color: #525252;
}


/*---------------------------------------Footer*/
.footer{
    font-family: "Caveat", sans-serif;
    background-color: #384BC2;
    color: #fff;

}

.social-links{
    color: #fff;
}